@import "modules/variables.less";
@import "modules/mixins.less";

/* Global Components */
body {
    overflow-x: hidden;
    .body-font;
}

.text-muted {
    color: @gray;
}

.text-primary {
    color: @brand-primary;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: @brand-primary;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken(@brand-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
    .heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: @gray-lighter;
}

.bg-darkest-gray {
    background-color: @gray-darkest;
}

/* Restyled Primary Buttons */
.btn-primary {
    .button-variant(@blank; @brand-primary; @brand-primary);
    .heading-font;
    font-weight: 700;
}

.btn-blue-primary {
    .button-variant(@blank; @blue-primary; @blue-primary);
    .heading-font;
    font-weight: 700;
}

.btn-primary-empty {
    .button-variant(@blank; @transparent ; @brand-primary);
    .heading-font;
    font-weight: 700;
}

.btn-blue-primary-empty {
    .button-variant(@blank; @transparent ; @blank);
    .heading-font;
    font-weight: 700;
}

.btn-xl {
    .button-variant(@blank; @brand-primary; @brand-primary);
    .heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

header {
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    .background-cover;
    text-align: center;
    color: @blank;
    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
        .intro-lead-in {
            .serif-font;
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }
        .intro-heading {
            .heading-font;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        }
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            padding-top: 300px;
            padding-bottom: 200px;
            .intro-lead-in {
                .serif-font;
                font-style: italic;
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 25px;
            }
            .intro-heading {
                .heading-font;
                font-weight: 700;
                font-size: 75px;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }
    }
}

/* Global Section Styles */

section {
    padding: 100px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        .serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
    .increase-row-height {
        margin-bottom: 0px;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
        .increase-row-height {
            margin-bottom: 75px;
        }
    }
}

/* Footer */

footer {
    padding: 25px 0;
    text-align: center;
    span.copyright {
        line-height: 40px;
        .heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 40px;
        .heading-font;
        text-transform: none;
    }
}

/* Social Buttons */

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            background-color: @gray-darkest;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: @blank;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: @brand-primary;
            }
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

/* Highlight Color Customization */
::-moz-selection {
    text-shadow: none;
    background: @brand-primary;
}

::selection {
    text-shadow: none;
    background: @brand-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: @brand-primary;
}

/* Import custom css */

@import "partials/_navbar.less";
@import "partials/_header.less";
@import "partials/_team.less";
@import "partials/_services.less";
@import "partials/_loyalty.less";
@import "partials/_gallery.less";
@import "partials/_osteopathy.less";
@import "partials/_news.less";
@import "partials/_contact.less";