{% extends "admin/index.html" %}

{% block pagecontent %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Config</h1>
        {% for item, value in config %}
            <strong>{{ item }}</strong><br>
            {% if value is iterable %}
                <ul>
                    {% for values in value %}
                        <li>{{ values }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul><li>{{ value }}</li></ul>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}