{% extends "admin/index.html" %}

{% block pagecontent %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Noticias</h1>

    {% for messages in app.session.flashbag.get('info') %}
        {% for type, message in messages %}
            <div class="alert alert-dismissible {{ type }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <form action="{{ url('admin_news') }}" method="post">
        {% for lang, data in news %}
            <p class="bg-info contextual-backgrounds">Idioma :: {{ lang|upper }}</p>
            {% for key,data_news in data %}
                {% if data_news is iterable %}
                    <div class="form-group">
                        <label>{{ key }}</label>
                        {% for key_item, data in data_news %}
                            <figure class="highlight">
                                <ul>
                                    {% for key_data, data_content in data %}
                                        <li>
                                            <label for="{{ key_data }}">{{ key_data }}</label>
                                        </li>
                                        <li>
                                            <input type="text" class="form-control" id="{{ key_data }}" name="{{ lang }}[{{ key }}][{{ key_item }}][{{ key_data }}]" placeholder="{{ key_data }}" value="{{ data_content }}">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </figure>
                        {% endfor%}
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ lang }}_{{ key }}">{{ key }}</label>
                        <input type="text" class="form-control" id="{{ lang }}_{{ key }}" name="{{ lang }}[{{ key }}]" placeholder="{{ key }}" value="{{ data_news }}">
                    </div>
                {% endif %}
            {% endfor%}
        {% endfor %}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}