{% extends "admin/index.html" %}

{% block pagecontent %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2>Error!!</h2>
        <p>{{ message }}</p>
    </div>
{% endblock %}