/* Global Components */
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #fed136;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #fed136;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #fec503;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222222;
}
/* Restyled Primary Buttons */
.btn-primary {
  color: #ffffff;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary .badge {
  color: #fed136;
  background-color: #ffffff;
}
.btn-blue-primary {
  color: #ffffff;
  background-color: #4e81cd;
  border-color: #4e81cd;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-blue-primary:hover,
.btn-blue-primary:focus,
.btn-blue-primary:active,
.btn-blue-primary.active,
.open .dropdown-toggle.btn-blue-primary {
  color: #ffffff;
  background-color: #3367b5;
  border-color: #3163ad;
}
.btn-blue-primary:active,
.btn-blue-primary.active,
.open .dropdown-toggle.btn-blue-primary {
  background-image: none;
}
.btn-blue-primary.disabled,
.btn-blue-primary[disabled],
fieldset[disabled] .btn-blue-primary,
.btn-blue-primary.disabled:hover,
.btn-blue-primary[disabled]:hover,
fieldset[disabled] .btn-blue-primary:hover,
.btn-blue-primary.disabled:focus,
.btn-blue-primary[disabled]:focus,
fieldset[disabled] .btn-blue-primary:focus,
.btn-blue-primary.disabled:active,
.btn-blue-primary[disabled]:active,
fieldset[disabled] .btn-blue-primary:active,
.btn-blue-primary.disabled.active,
.btn-blue-primary[disabled].active,
fieldset[disabled] .btn-blue-primary.active {
  background-color: #4e81cd;
  border-color: #4e81cd;
}
.btn-blue-primary .badge {
  color: #4e81cd;
  background-color: #ffffff;
}
.btn-primary-empty {
  color: #ffffff;
  background-color: transparent;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary-empty:hover,
.btn-primary-empty:focus,
.btn-primary-empty:active,
.btn-primary-empty.active,
.open .dropdown-toggle.btn-primary-empty {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #f6bf01;
}
.btn-primary-empty:active,
.btn-primary-empty.active,
.open .dropdown-toggle.btn-primary-empty {
  background-image: none;
}
.btn-primary-empty.disabled,
.btn-primary-empty[disabled],
fieldset[disabled] .btn-primary-empty,
.btn-primary-empty.disabled:hover,
.btn-primary-empty[disabled]:hover,
fieldset[disabled] .btn-primary-empty:hover,
.btn-primary-empty.disabled:focus,
.btn-primary-empty[disabled]:focus,
fieldset[disabled] .btn-primary-empty:focus,
.btn-primary-empty.disabled:active,
.btn-primary-empty[disabled]:active,
fieldset[disabled] .btn-primary-empty:active,
.btn-primary-empty.disabled.active,
.btn-primary-empty[disabled].active,
fieldset[disabled] .btn-primary-empty.active {
  background-color: transparent;
  border-color: #fed136;
}
.btn-primary-empty .badge {
  color: transparent;
  background-color: #ffffff;
}
.btn-blue-primary-empty {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-blue-primary-empty:hover,
.btn-blue-primary-empty:focus,
.btn-blue-primary-empty:active,
.btn-blue-primary-empty.active,
.open .dropdown-toggle.btn-blue-primary-empty {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #e0e0e0;
}
.btn-blue-primary-empty:active,
.btn-blue-primary-empty.active,
.open .dropdown-toggle.btn-blue-primary-empty {
  background-image: none;
}
.btn-blue-primary-empty.disabled,
.btn-blue-primary-empty[disabled],
fieldset[disabled] .btn-blue-primary-empty,
.btn-blue-primary-empty.disabled:hover,
.btn-blue-primary-empty[disabled]:hover,
fieldset[disabled] .btn-blue-primary-empty:hover,
.btn-blue-primary-empty.disabled:focus,
.btn-blue-primary-empty[disabled]:focus,
fieldset[disabled] .btn-blue-primary-empty:focus,
.btn-blue-primary-empty.disabled:active,
.btn-blue-primary-empty[disabled]:active,
fieldset[disabled] .btn-blue-primary-empty:active,
.btn-blue-primary-empty.disabled.active,
.btn-blue-primary-empty[disabled].active,
fieldset[disabled] .btn-blue-primary-empty.active {
  background-color: transparent;
  border-color: #ffffff;
}
.btn-blue-primary-empty .badge {
  color: transparent;
  background-color: #ffffff;
}
.btn-xl {
  color: #ffffff;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: #ffffff;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: #ffffff;
}
header {
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #ffffff;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
/* Global Section Styles */
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
section .increase-row-height {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
  section .increase-row-height {
    margin-bottom: 75px;
  }
}
/* Footer */
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
/* Social Buttons */
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
/* Highlight Color Customization */
::-moz-selection {
  text-shadow: none;
  background: #fed136;
}
::selection {
  text-shadow: none;
  background: #fed136;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #fed136;
}
/* Import custom css */
/* Custom Navigation Bar */
.navbar-default {
  background-color: #4e81cd;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #fec503;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #fed136;
  border-color: #fed136;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fed136;
}
.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #fed136;
  outline: none;
}
@media (max-width: 992px) {
  .navbar-default .nav li a {
    font-size: 12px;
    padding: 15px 6px;
  }
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: #4e81cd;
  background-color: #fed136;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #4e81cd;
  background-color: #fec503;
}
.navbar-default .navbar-nav > li.dropdown {
  /* Custom style for dropdown menu */
  border-left: 2px solid #ffffff;
  margin-left: 5px;
}
.navbar-default ul.dropdown-menu {
  background-color: #4e81cd;
}
.navbar-default .navbar-brand {
  padding: 0;
}
.navbar-default .logo-mobile {
  display: none;
}
@media (max-width: 359px) {
  .navbar-default .logo {
    width: 250px;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #4e81cd;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: none!important;
}
#thumbnail-preview-indicators {
  position: relative;
  overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#thumbnail-preview-indicators,
#thumbnail-preview-indicators .slides,
#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  height: 778px;
}
#thumbnail-preview-indicators .slides .slide-1 {
  background-image: url("../img/slider/slide-1-lg.jpg");
}
#thumbnail-preview-indicators .slides .slide-2 {
  background-image: url("../img/slider/slide-2-lg.jpg");
}
#thumbnail-preview-indicators .slides .slide-3 {
  background-image: url("../img/slider/slide-3-lg.jpg");
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
  position: relative;
  width: 100px;
  height: 8px;
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
  position: absolute;
  top: 0;
  width: 100px;
  display: none;
  opacity: 0;
  left: 50%;
  margin-top: -80px;
  margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
  display: block;
  opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover {
  opacity: 1;
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 50%;
  bottom: inherit;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  width: 80%;
}
@media (max-width: 768px) {
  #thumbnail-preview-indicators .carousel-inner .item .carousel-caption span {
    display: block;
    padding: 2%;
  }
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption .subtitle {
  padding: 20px;
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption .btn {
  margin: 0 3%;
}
.btn-slider-info {
  margin-left: 50px;
}
@media (max-width: 425px) {
  #thumbnail-preview-indicators,
  #thumbnail-preview-indicators .slides,
  #thumbnail-preview-indicators .slides .slide-1,
  #thumbnail-preview-indicators .slides .slide-2,
  #thumbnail-preview-indicators .slides .slide-3 {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  #thumbnail-preview-indicators .carousel-indicators li,
  #thumbnail-preview-indicators .carousel-indicators li.active {
    width: 50px;
    height: 8px;
    position: relative;
  }
  #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
    width: 50px;
    left: 50%;
    margin-top: -50px;
    margin-left: -25px;
  }
}
/*
@media (max-width: 1024px) {
  #thumbnail-preview-indicators .slides .slide-1 {
    background-image: url(@slide-1-md);
  }
  #thumbnail-preview-indicators .slides .slide-2 {
    background-image: url(@slide-2-md);
  }
  #thumbnail-preview-indicators .slides .slide-3 {
    background-image: url(@slide-3-md);
  }
}
*/
@media (max-width: 768px) {
  #thumbnail-preview-indicators .slides .slide-1 {
    background-image: url("../img/slider/slide-1-sm.jpg");
  }
  #thumbnail-preview-indicators .slides .slide-2 {
    background-image: url("../img/slider/slide-2-sm.jpg");
  }
  #thumbnail-preview-indicators .slides .slide-3 {
    background-image: url("../img/slider/slide-3-sm.jpg");
  }
}
@media (max-width: 480px) {
  .team-member {
    padding-bottom: 30px;
  }
}
.team-member,
div#cv {
  text-align: center;
}
.team-member img,
div#cv img {
  margin: 0 auto;
  border: 7px solid #fed136;
}
.team-member h4,
div#cv h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p,
div#cv p {
  margin-top: 0;
}
.team-read-more {
  margin-bottom: 10px;
}
.cv-employee,
.cv-education-list,
.cv-experience-list {
  list-style-type: none;
  padding: 0;
}
#services {
  /* Service and Loyalty sections */
  /*
    .service-heading {
        margin: 15px 0;
        text-transform: none;
    }
    .service-row {
        margin-bottom: 25px;
    }
    .service-img {
        width: 90px;
        height: 90px;
        margin: auto;
        background: url(../img/centromares/fotolia_63585821-trans.png) no-repeat;
        background-position: 0 0;
    }
    .service-tooth {
        background-position: -32px -8px;
    }
    .service-clean {
        background-position: -147px -8px;
    }
    .service-right {
        background-position: -262px -8px;
    }
    .service-wrong {
        background-position: -377px -8px;
    }
    .service-filling {
        background-position: -32px -107px;
    }
    .service-cover {
        background-position: -147px -107px;
    }
    */
}
#services .board {
  width: 86%;
  margin: 60px auto;
  background: #fff;
  border: 2px solid #ddd;
}
#services .board .tab-content {
  padding: 35px 30px 20px;
  height: 400px;
  position: relative;
}
#services .board .tab-content .tab-pane {
  height: 270px;
  overflow: hidden;
}
#services .board .tab-content .services-read-more {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
#services .board .tab-content p {
  margin-top: 20px;
}
#services .board ul {
  background: #fafafa url(../img/centromares/pattern-tab-services.png);
  background-size: 30%;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}
#services .services-ul li div,
#services #carousel-services > div.carousel-inner > div.item > a > div {
  background: url(../img/centromares/icons-dentist.png) no-repeat;
  background-position: 0 0;
  width: 90px;
  height: 90px;
  margin: auto;
  border: 1px solid #daa756;
}
#services .services-ul li div.dentistry,
#services #carousel-services > div.carousel-inner > div.item > a > div.service-dentistry {
  background: url(../img/centromares/icon-tooth-small.jpg) no-repeat;
  background-position: -2px 0;
  width: 90px;
  height: 90px;
  margin: auto;
  border: 1px solid #daa756;
}
#services .service-conservative {
  background-position: -33px -107px !important;
}
#services .service-preventive {
  background-position: -379px -305px !important;
}
#services .service-aesthetics {
  background-position: -33px -206px !important;
}
#services .service-implantology {
  background-position: -264px -107px !important;
}
#services .service-orthodontics {
  background-position: -264px -206px !important;
}
#services .service-periodontics {
  background-position: -379px -107px !important;
}
#services .service-prosthesis {
  background-position: -148px -107px !important;
}
#services .nav > li > a {
  padding: 10px 7px;
}
#services .carousel-inner > .item {
  text-align: center;
}
@media (max-width: 1075px) {
  #carousel-services {
    display: block!important;
  }
  .services-ul {
    display: none;
  }
}
/*
    @import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css");
    @import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700italic,700,500&subset=latin,latin-ext");
*/
/* main styles */
.panel.price,
.panel.price > .panel-heading {
  border-radius: 0px;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel.price:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel.price:hover > .panel-heading {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2) inset;
}
.panel.price > .panel-heading {
  box-shadow: 0px 5px 0px rgba(50, 50, 50, 0.2) inset;
  text-shadow: 0px 3px 0px rgba(50, 50, 50, 0.6);
}
.price .list-group-item {
  border-bottom-: 1px solid rgba(250, 250, 250, 0.5);
}
.panel.price .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.price .panel-footer {
  color: #fff;
  border-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
}
.panel.price .btn {
  box-shadow: 0 -1px 0px rgba(50, 50, 50, 0.2) inset;
  border: 0px;
}
ul.members {
  list-style-type: none;
  padding-left: 0;
  font-size: 20px;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
ul.members li {
  height: 40px;
}
@media (max-width: 480px) {
  ul.members li {
    font-size: 12px;
  }
}
/* green panel */
.price.panel-green > .panel-heading {
  color: #fff;
  background-color: #57AC57;
  border-color: #71DF71;
  border-bottom: 1px solid #71DF71;
}
.price.panel-green > .panel-body {
  color: #fff;
  background-color: #65C965;
}
.price.panel-green > .panel-body .lead {
  text-shadow: 0px 3px 0px rgba(50, 50, 50, 0.3);
}
.price.panel-green .list-group-item {
  color: #333;
  background-color: rgba(50, 50, 50, 0.01);
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(250, 250, 250, 0.75);
}
/* blue panel */
.price.panel-blue > .panel-heading {
  color: #fff;
  background-color: #608BB4;
  border-color: #78AEE1;
  border-bottom: 1px solid #78AEE1;
}
.price.panel-blue > .panel-body {
  color: #fff;
  background-color: #73A3D4;
}
.price.panel-blue > .panel-body .lead {
  text-shadow: 0px 3px 0px rgba(50, 50, 50, 0.3);
}
.price.panel-blue .list-group-item {
  color: #333;
  background-color: rgba(50, 50, 50, 0.01);
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(250, 250, 250, 0.75);
}
/* red price */
.price.panel-red > .panel-heading {
  color: #fff;
  background-color: #D04E50;
  border-color: #FF6062;
  border-bottom: 1px solid #FF6062;
}
.price.panel-red > .panel-body {
  color: #fff;
  background-color: #EF5A5C;
}
.price.panel-red > .panel-body .lead {
  text-shadow: 0px 3px 0px rgba(50, 50, 50, 0.3);
}
.price.panel-red .list-group-item {
  color: #333;
  background-color: rgba(50, 50, 50, 0.01);
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(250, 250, 250, 0.75);
}
/* grey price */
.price.panel-grey > .panel-heading {
  color: #fff;
  background-color: #6D6D6D;
  border-color: #B7B7B7;
  border-bottom: 1px solid #B7B7B7;
}
.price.panel-grey > .panel-body {
  color: #fff;
  background-color: #808080;
}
.price.panel-grey > .panel-body .lead {
  text-shadow: 0px 3px 0px rgba(50, 50, 50, 0.3);
}
.price.panel-grey .list-group-item {
  color: #333;
  background-color: rgba(50, 50, 50, 0.01);
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(250, 250, 250, 0.75);
}
/* white price */
.price.panel-white > .panel-heading {
  color: #333;
  background-color: #f9f9f9;
  border-color: #ccc;
  border-bottom: 1px solid #ccc;
  text-shadow: 0px 2px 0px rgba(250, 250, 250, 0.7);
}
.panel.panel-white.price:hover > .panel-heading {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05) inset;
}
.price.panel-white > .panel-body {
  color: #fff;
  background-color: #dfdfdf;
}
.price.panel-white > .panel-body .lead {
  text-shadow: 0px 2px 0px rgba(250, 250, 250, 0.8);
  color: #666;
}
.price:hover.panel-white > .panel-body .lead {
  text-shadow: 0px 2px 0px rgba(250, 250, 250, 0.9);
  color: #333;
}
.price.panel-white .list-group-item {
  color: #333;
  background-color: rgba(50, 50, 50, 0.01);
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(250, 250, 250, 0.75);
}
/* other */
.premium-discount {
  display: inline;
  padding: 10px;
  background: #fed136 none repeat scroll 0px 0px;
  top: 30%;
  position: absolute;
  right: 0;
}
/*
  A touchable jQuery lightbox
  url: http://brutaldesign.github.io/swipebox/
*/
#gallery .gallery-item {
  right: 0;
  margin: 0 0 15px;
}
#gallery .gallery-item .gallery-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}
#gallery .gallery-item .gallery-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}
#gallery .gallery-item .gallery-caption h4 {
  margin: 0;
  text-transform: none;
}
#gallery .gallery-item .gallery-caption p {
  margin: 0;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
}
#gallery * {
  z-index: 2;
}
@media (min-width: 767px) {
  #gallery .gallery-item {
    margin: 0 0 30px;
  }
}
/*
  Based on Code snippet by @maridlcrmn
  Title: Responsive thumb preview in carousel indicators
  Url: http://bootsnipp.com/snippets/featured/responsive-thumb-preview-in-carousel-indicators
*/
#osteopathy .bg_blur {
  background-image: url('../img/centromares/fotolia_55328838.jpg');
  height: 300px;
  background-size: cover;
}
#osteopathy .header {
  color: #808080;
  margin-left: 15%;
  margin-top: 70px;
}
#osteopathy .picture {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 75px;
  left: -75px;
}
#osteopathy .picture_mob {
  position: absolute;
  width: 35%;
  left: 35%;
  bottom: 70%;
}
#osteopathy .img-thumbnail {
  border: 3px solid #FEC503;
}
#osteopathy .treatment-dropdown {
  display: none;
}
#osteopathy .tab-content {
  padding: 25px;
}
#osteopathy .dropdown-menu {
  width: 100%;
}
@media (max-width: 360px) {
  #osteopathy .header {
    margin-left: 0;
  }
  #osteopathy .treatment-tabs {
    display: none;
  }
  #osteopathy .treatment-dropdown {
    display: block;
  }
}
@media (max-width: 767px) {
  #osteopathy .header {
    text-align: center;
    color: red;
    margin-left: 0;
  }
  #osteopathy .nav {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #osteopathy .picture {
    height: 150px;
    left: 15px;
    position: absolute;
    top: -95px;
    width: 150px;
  }
  #osteopathy .header {
    color: blue;
  }
}
section#news .item {
  padding: 3%;
}
section#news .media-left img {
  width: 120px;
  height: auto;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact .text-danger {
  color: #e74c3c;
}
#location #maplocation {
  height: 450px;
}
@media (max-width: 767px) {
  #location .container-fluid {
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  #location .container-fluid {
    padding-left: 0;
  }
}
/* Custom css rules used in contact and location sections */
.thin-section {
  padding-top: 80px;
  padding-bottom: 50px;
}
