@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* alternate section: header */
/*
-----------------------------------
    Code snippet by @maridlcrmn
    Credits images: www.unsplash.com
-----------------------------------
*/
#thumbnail-preview-indicators {
  position: relative;
  overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#thumbnail-preview-indicators,
#thumbnail-preview-indicators .slides,
#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  height: 778px;
}
#thumbnail-preview-indicators .slides .slide-1 {
  background-image: url(../img/centromares/dente-com-dinheiro-27387864-blur-resize.jpg);
}
#thumbnail-preview-indicators .slides .slide-2 {
  background-image: url(../img/centromares/dentista-blur-resize.jpg);
}
#thumbnail-preview-indicators .slides .slide-3 {
  background-image: url(../img/centromares/dentistashortaleza_es-blur-resize2.jpg);
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 20%;
  bottom: inherit;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
  position: relative;
  width: 100px;
  height: 8px;
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
  position: absolute;
  top: 0;
  width: 100px;
  display: none;
  opacity: 0;
  left: 50%;
  margin-top: -80px;
  margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
  display: block;
  opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover {
  opacity: 1;
}
@media screen and (max-width: 480px) {
  #thumbnail-preview-indicators .carousel-indicators li,
  #thumbnail-preview-indicators .carousel-indicators li.active {
    width: 50px;
    height: 8px;
    position: relative;
  }
  #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
    width: 50px;
    left: 50%;
    margin-top: -50px;
    margin-left: -25px;
  }
}
/* alternate section: team v1 */
.src-image {
  display: none;
}
.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #284c79;
  color: #88acd9;
}
.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}
.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 30, 0.8);
}
.team-row {
  padding-bottom: 30px;
}
/* alternate section: team v2 */
.animate {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*=============== Home-team ===============*/
.home-doctors {
  text-align: center;
  padding: 70px 0 80px;
  background: #f0f5f6;
}
.home-doctors h2 {
  font-weight: normal;
}
.home-doctors .common-doctor {
  background-color: #fff;
}
.home-doctors .common-doctor figure {
  overflow: hidden;
  width: 100%;
  height: 196px;
}
.home-doctors img {
  width: 100%;
  height: auto;
  margin-top: -6em;
}
.home-doctors .common-doctor h5 {
  margin: 0 0 7px;
  font-size: 18px;
  font-weight: 700;
  color: #3a3c41;
}
.home-doctors .common-doctor .for-border {
  margin-bottom: 20px;
}
.home-doctors .common-doctor .text-content {
  padding: 19px 14px 13px;
}
.home-doctors.doctors-var-two {
  text-align: left;
  background-color: #fff;
}
.home-doctors.doctors-var-two .slogan-section {
  text-align: left;
}
.home-doctors.doctors-var-two .common-doctor {
  background-color: transparent;
}
.home-doctors.doctors-var-two .common-doctor .for-border {
  display: none;
}
.home-doctors.doctors-var-two .common-doctor .text-content {
  padding: 20px 0 20px;
}
.home-doctors.doctors-var-two .text-center {
  text-align: left;
}
.slogan-section {
  margin-bottom: 50px;
  text-align: center;
}
.home-doctors .common-doctor .for-border {
  margin-bottom: 20px;
}
.for-border {
  height: 11px;
  width: 100%;
  background: transparent url(http://omarhabash.com/nova/wp-content/uploads/2014/08/feature-border.png) center center no-repeat;
  border: none;
}
.home-doctors .common-doctor h5 small {
  color: #008fd5;
  font-weight: bold;
  font-size: 0.8em;
  font-style: italic;
}
.home-doctors .common-doctor ul {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -28px;
  text-align: center;
  margin-top: 10em;
  opacity: 0;
  z-index: 1;
}
.home-doctors .common-doctor li a {
  background: #008fd5;
  color: white;
  padding: 0.75em;
  border: 5px solid rgba(255, 255, 255, 0.33);
}
.doc-img {
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1);
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}
.doc-item:hover .doc-img {
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2);
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.2, 1.2);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
  opacity: 0.7;
}
.doc-item:hover .social-lists {
  margin-top: -2em;
  opacity: 1;
}
/* alternate section: services */
.glyphicon-lg {
  font-size: 3em;
}
.blockquote-box {
  border-right: 5px solid #E6E6E6;
  margin-bottom: 25px;
}
.blockquote-box .square {
  width: 90px;
  height: 90px;
  min-height: 50px;
  margin-right: 22px;
  text-align: center!important;
  background-color: #E6E6E6!important;
  padding: 20px 0;
  background: url(../img/centromares/fotolia_63585821-trans.png) no-repeat;
  background-position: 0 0;
}
.services-tooth .square {
  background-position: -32px -8px;
}
.blockquote-box.services-tooth {
  border-color: #DE255B;
}
.services-clean .square {
  background-position: -147px -8px;
}
.blockquote-box.services-clean {
  border-color: #ED4B42;
}
.services-right .square {
  background-position: -262px -8px;
}
.blockquote-box.services-right {
  border-color: #FABA30;
}
.services-wrong .square {
  background-position: -377px -8px;
}
.blockquote-box.services-wrong {
  border-color: #39C18E;
}
.services-filling .square {
  background-position: -32px -107px;
}
.blockquote-box.services-filling {
  border-color: #3AB8EC;
}
.services-cover .square {
  background-position: -147px -107px;
}
.blockquote-box.services-cover {
  border-color: #2A82E3;
}
/* alternate section: services 2 */
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
.board {
  width: 75%;
  margin: 60px auto;
  height: 500px;
  background: #fff;
  /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
  position: relative;
  /* border-bottom: 0; */
  /* width: 80%; */
  margin: 40px auto;
  margin-bottom: 0;
  box-sizing: border-box;
}
.board > div.board-inner {
  background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
  background-size: 30%;
}
p.narrow {
  width: 60%;
  margin: 10px auto;
}
.liner {
  height: 2px;
  background: #ddd;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  /*z-index: 1;*/
  z-index: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  /* background-color: #ffffff; */
  border: 0;
  border-bottom-color: transparent;
}
span.round-tabs {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: white;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tabs.one {
  color: #22c222;
  border: 2px solid #22c222;
}
li.active span.round-tabs.one {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #22c222;
}
span.round-tabs.two {
  color: #febe29;
  border: 2px solid #febe29;
}
li.active span.round-tabs.two {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #febe29;
}
span.round-tabs.three {
  color: #3e5e9a;
  border: 2px solid #3e5e9a;
}
li.active span.round-tabs.three {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #3e5e9a;
}
span.round-tabs.four {
  color: #f1685e;
  border: 2px solid #f1685e;
}
li.active span.round-tabs.four {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #f1685e;
}
span.round-tabs.five {
  color: #999;
  border: 2px solid #999;
}
li.active span.round-tabs.five {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #999;
}
.nav-tabs > li.active > a span.round-tabs {
  background: #fafafa;
}
.nav-tabs > li {
  /*width: 20%;*/
  width: 16%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
li:after {
  content: " ";
  position: absolute;
  left: 45%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #ddd;
  transition: 0.1s ease-in-out;
}
li.active:after {
  content: " ";
  position: absolute;
  left: 45%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #ddd;
}
.nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}
.nav-tabs > li a:hover {
  background: transparent;
}
.tab-pane {
  position: relative;
  padding-top: 50px;
}
.tab-content .head {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.btn-outline-rounded {
  padding: 10px 40px;
  margin: 20px 0;
  border: 2px solid transparent;
  border-radius: 25px;
}
.btn.green {
  background-color: #5cb85c;
  /*border: 2px solid #5cb85c;*/
  color: #ffffff;
}
/*.list-box .square{
    width:90px;
    height: 80px;
    min-height:50px;
    margin-right:22px;
    text-align:center!important;
    padding:20px 0;
    background-image: url(../img/centromares/fotolia_63585821-trans.png);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.services-tooth2 .square{
    background-position: -22px -3px;
    cursor: pointer;
}*/
@media (max-width: 585px) {
  .board {
    width: 90%;
    height: auto !important;
  }
  span.round-tabs {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .tab-content .head {
    font-size: 20px;
  }
  .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
  .btn-outline-rounded {
    padding: 12px 20px;
  }
}
