/* GLOBAL STYLES */
.thin-section {
  padding-top: 80px;
  padding-bottom: 50px;
}
/* SECTION: HEADER */
.done-header #thumbnail-preview-indicators {
  position: relative;
  overflow: hidden;
}
.done-header #thumbnail-preview-indicators .slides .slide-1,
.done-header #thumbnail-preview-indicators .slides .slide-2,
.done-header #thumbnail-preview-indicators .slides .slide-3 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.done-header #thumbnail-preview-indicators,
.done-header #thumbnail-preview-indicators .slides,
.done-header #thumbnail-preview-indicators .slides .slide-1,
.done-header #thumbnail-preview-indicators .slides .slide-2,
.done-header #thumbnail-preview-indicators .slides .slide-3 {
  height: 778px;
}
.done-header #thumbnail-preview-indicators .slides .slide-1 {
  background-image: url(../img/centromares/dente-com-dinheiro-27387864-blur-resize.jpg);
}
.done-header #thumbnail-preview-indicators .slides .slide-2 {
  background-image: url(../img/centromares/dentista-blur-resize.jpg);
}
.done-header #thumbnail-preview-indicators .slides .slide-3 {
  background-image: url(../img/centromares/dentistashortaleza_es-blur-resize2.jpg);
}
.done-header #thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 20%;
  bottom: inherit;
}
.done-header #thumbnail-preview-indicators .carousel-indicators li,
.done-header #thumbnail-preview-indicators .carousel-indicators li.active {
  position: relative;
  width: 100px;
  height: 8px;
}
.done-header #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
  position: absolute;
  top: 0;
  width: 100px;
  display: none;
  opacity: 0;
  left: 50%;
  margin-top: -80px;
  margin-left: -50px;
}
.done-header #thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
.done-header #thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
  display: block;
  opacity: .8;
}
.done-header #thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover {
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .done-header #thumbnail-preview-indicators .carousel-indicators li,
  .done-header #thumbnail-preview-indicators .carousel-indicators li.active {
    width: 50px;
    height: 8px;
    position: relative;
  }
  .done-header #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
    width: 50px;
    left: 50%;
    margin-top: -50px;
    margin-left: -25px;
  }
}
/* SECTION: TEAM */
.done-team {
  /* Clients Aside */
}
.done-team .team-member {
  text-align: center;
  margin-bottom: 50px;
}
.done-team .team-member img {
  margin: 0 auto;
  border: 7px solid #DAA756;
}
.done-team .team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.done-team .team-member p {
  margin-top: 0;
}
.done-team .team-read-more {
  margin-bottom: 10px;
}
.done-team aside.clients img {
  margin: 50px auto;
}
/* SECTION: SERVICES */
.done-srv #services .services-ul li div {
  width: 90px;
  height: 90px;
  background: url(../img/centromares/fotolia_63585821-trans.png) no-repeat;
  background-position: 0 0;
  margin: auto;
}
.done-srv #services .services-ul li div.dentistry {
  width: 90px;
  height: 90px;
  background: url(../img/centromares/fotolia_78565263_small.jpg) no-repeat;
  background-position: -8px 0;
  border: 1px solid #daa756;
}
.done-srv #services .service-conservative {
  background-position: -32px -107px !important;
}
.done-srv #services .service-preventive {
  background-position: -378px -304px !important;
}
.done-srv #services .service-aesthetics {
  background-position: -32px -204px !important;
}
.done-srv #services .service-implantology {
  background-position: -263px -106px !important;
}
.done-srv #services .service-orthodontics {
  background-position: -263px -204px !important;
}
.done-srv #services .service-periodontics {
  background-position: -378px -106px !important;
}
.done-srv #services .service-prosthesis {
  background-position: -147px -106px !important;
}
.done-srv #services #carousel-services > div.carousel-inner > div.item > a > img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}
.done-srv #services #carousel-services > div.carousel-inner > div.item > div.services {
  background: url(../img/centromares/fotolia_63585821-trans.png) no-repeat;
  background-position: 0 0;
}
.done-srv #services .board {
  width: 86%;
  margin: 60px auto;
  background: #fff;
  border: 2px solid #ddd;
}
.done-srv #services .board ul {
  background: #fafafa url(../img/centromares/pattern-tab-services.png);
  background-size: 30%;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}
.done-srv #services .board .tab-content {
  padding: 35px 30px 20px;
}
.done-srv #services .board .tab-content p {
  margin-top: 20px;
}
@media (max-width: 1075px) {
  .done-srv {
    /*.services-ul li div {
            width: 45px;
            height: 45px;
        }*/
    /*.services-ul {
            display: none;
        }*/
    /*    #carousel-services {
                display: inline-block;
            }*/
  }
  .done-srv #carousel-services {
    display: block !important;
  }
  .done-srv .services-ul {
    display: none;
  }
}
/* SECTION PREMIUM */
.done-loyalty {
  @import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css");
  @import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700italic,700,500&subset=latin,latin-ext");
  /* COMMON PRICING STYLES */
  /* green panel */
  /* blue panel */
  /* red price */
  /* grey price */
  /* white price */
}
.done-loyalty .panel.price,
.done-loyalty .panel.price > .panel-heading {
  border-radius: 0px;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.done-loyalty .panel.price:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.done-loyalty .panel.price:hover > .panel-heading {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2) inset;
}
.done-loyalty .panel.price > .panel-heading {
  box-shadow: 0px 5px 0px rgba(50, 50, 50, 0.2) inset;
  text-shadow: 0px 3px 0px rgba(50, 50, 50, 0.6);
}
.done-loyalty .price .list-group-item {
  border-bottom-: 1px solid rgba(250, 250, 250, 0.5);
}
.done-loyalty .panel.price .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.done-loyalty .panel.price .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.done-loyalty .price .panel-footer {
  color: #fff;
  border-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
}
.done-loyalty .panel.price .btn {
  box-shadow: 0 -1px 0px rgba(50, 50, 50, 0.2) inset;
  border: 0px;
}
.done-loyalty .price.panel-green > .panel-heading {
  color: #fff;
  background-color: #57AC57;
  border-color: #71DF71;
  border-bottom: 1px solid #71DF71;
}
.done-loyalty .price.panel-green > .panel-body {
  color: #fff;
  background-color: #65C965;
}
.done-loyalty .price.panel-green > .panel-body .lead {
  text-shadow: 0px 3px 0px rgba(50, 50, 50, 0.3);
}
.done-loyalty .price.panel-green .list-group-item {
  color: #333;
  background-color: rgba(50, 50, 50, 0.01);
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(250, 250, 250, 0.75);
}
.done-loyalty .price.panel-blue > .panel-heading {
  color: #fff;
  background-color: #608BB4;
  border-color: #78AEE1;
  border-bottom: 1px solid #78AEE1;
}
.done-loyalty .price.panel-blue > .panel-body {
  color: #fff;
  background-color: #73A3D4;
}
.done-loyalty .price.panel-blue > .panel-body .lead {
  text-shadow: 0px 3px 0px rgba(50, 50, 50, 0.3);
}
.done-loyalty .price.panel-blue .list-group-item {
  color: #333;
  background-color: rgba(50, 50, 50, 0.01);
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(250, 250, 250, 0.75);
}
.done-loyalty .price.panel-red > .panel-heading {
  color: #fff;
  background-color: #D04E50;
  border-color: #FF6062;
  border-bottom: 1px solid #FF6062;
}
.done-loyalty .price.panel-red > .panel-body {
  color: #fff;
  background-color: #EF5A5C;
}
.done-loyalty .price.panel-red > .panel-body .lead {
  text-shadow: 0px 3px 0px rgba(50, 50, 50, 0.3);
}
.done-loyalty .price.panel-red .list-group-item {
  color: #333;
  background-color: rgba(50, 50, 50, 0.01);
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(250, 250, 250, 0.75);
}
.done-loyalty .price.panel-grey > .panel-heading {
  color: #fff;
  background-color: #6D6D6D;
  border-color: #B7B7B7;
  border-bottom: 1px solid #B7B7B7;
}
.done-loyalty .price.panel-grey > .panel-body {
  color: #fff;
  background-color: #808080;
}
.done-loyalty .price.panel-grey > .panel-body .lead {
  text-shadow: 0px 3px 0px rgba(50, 50, 50, 0.3);
}
.done-loyalty .price.panel-grey .list-group-item {
  color: #333;
  background-color: rgba(50, 50, 50, 0.01);
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(250, 250, 250, 0.75);
}
.done-loyalty .price.panel-white > .panel-heading {
  color: #333;
  background-color: #f9f9f9;
  border-color: #ccc;
  border-bottom: 1px solid #ccc;
  text-shadow: 0px 2px 0px rgba(250, 250, 250, 0.7);
}
.done-loyalty .panel.panel-white.price:hover > .panel-heading {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05) inset;
}
.done-loyalty .price.panel-white > .panel-body {
  color: #fff;
  background-color: #dfdfdf;
}
.done-loyalty .price.panel-white > .panel-body .lead {
  text-shadow: 0px 2px 0px rgba(250, 250, 250, 0.8);
  color: #666;
}
.done-loyalty .price:hover.panel-white > .panel-body .lead {
  text-shadow: 0px 2px 0px rgba(250, 250, 250, 0.9);
  color: #333;
}
.done-loyalty .price.panel-white .list-group-item {
  color: #333;
  background-color: rgba(50, 50, 50, 0.01);
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(250, 250, 250, 0.75);
}
.done-loyalty .premium-discount {
  display: inline;
  padding: 10px;
  background: #fed136 none repeat scroll 0px 0px;
  top: 30%;
  position: absolute;
  right: 0;
}
/* SECTION: GALLERY */
.done-gallery #gallery .gallery-item {
  right: 0;
  margin: 0 0 15px;
}
.done-gallery #gallery .gallery-item .gallery-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}
.done-gallery #gallery .gallery-item .gallery-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}
.done-gallery #gallery .gallery-item .gallery-caption h4 {
  margin: 0;
  text-transform: none;
}
.done-gallery #gallery .gallery-item .gallery-caption p {
  margin: 0;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
}
.done-gallery #gallery * {
  z-index: 2;
}
@media (min-width: 767px) {
  .done-gallery #gallery .gallery-item {
    margin: 0 0 30px;
  }
}
/* SECTION: OSTEOPATHY */
.done-osteopathy #osteopathy .bg_blur {
  background-image: url('../img/centromares/fotolia_55328838.jpg');
  height: 300px;
  background-size: cover;
}
.done-osteopathy #osteopathy .header {
  color: #808080;
  margin-left: 15%;
  margin-top: 70px;
}
.done-osteopathy #osteopathy .picture {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 75px;
  left: -75px;
}
.done-osteopathy #osteopathy .picture_mob {
  position: absolute;
  width: 35%;
  left: 35%;
  bottom: 70%;
}
.done-osteopathy #osteopathy .img-thumbnail {
  border: 3px solid #FEC503;
}
.done-osteopathy #osteopathy .treatment-dropdown {
  display: none;
}
.done-osteopathy #osteopathy .tab-content {
  padding: 25px;
}
.done-osteopathy #osteopathy .dropdown-menu {
  width: 100%;
}
@media (max-width: 360px) {
  .done-osteopathy #osteopathy .header {
    margin-left: 0;
  }
  .done-osteopathy #osteopathy .treatment-tabs {
    display: none;
  }
  .done-osteopathy #osteopathy .treatment-dropdown {
    display: block;
  }
}
@media (max-width: 767px) {
  .done-osteopathy #osteopathy .header {
    text-align: center;
    color: red;
    margin-left: 0;
  }
  .done-osteopathy #osteopathy .nav {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .done-osteopathy #osteopathy .picture {
    height: 150px;
    left: 15px;
    position: absolute;
    top: -95px;
    width: 150px;
  }
  .done-osteopathy #osteopathy .header {
    color: blue;
  }
}
