// Section: gallery

/*
  A touchable jQuery lightbox
  url: http://brutaldesign.github.io/swipebox/
*/

#gallery .gallery-item {
  right: 0;
  margin: 0 0 15px;
}

#gallery .gallery-item .gallery-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}

#gallery .gallery-item .gallery-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}

#gallery .gallery-item .gallery-caption h4 {
  margin: 0;
  text-transform: none;
}

#gallery .gallery-item .gallery-caption p {
  margin: 0;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
}

#gallery * {
  z-index: 2;
}

@media(min-width:767px) {
  #gallery .gallery-item {
    margin: 0 0 30px;
  }
}