// Section: Header

#thumbnail-preview-indicators {
    position: relative;
    overflow: hidden;
}

#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#thumbnail-preview-indicators,
#thumbnail-preview-indicators .slides,
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
      height: 778px;
}

#thumbnail-preview-indicators .slides .slide-1 {
    background-image: url(@slide-1-lg);
}

#thumbnail-preview-indicators .slides .slide-2 {
    background-image: url(@slide-2-lg);
}

#thumbnail-preview-indicators .slides .slide-3 {
    background-image: url(@slide-3-lg);
}

#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
    position: relative;
    width: 100px;
    height: 8px;
}

#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
   position: absolute;
   top: 0;
   width: 100px;
   display: none;
   opacity: 0;
   left: 50%;
   margin-top: -80px;
   margin-left: -50px;
}

#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
   display: block;
   opacity: .8;
}

#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
    opacity: 1;
}

#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 50%;
  bottom: inherit;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  width: 80%;

  span{
    @media (max-width: 768px) {
      display: block;
      padding: 2%;
    }
  }
  .subtitle{
    padding: 20px;
  }
  .btn{
    margin: 0 3%;
  }
}

.btn-slider-info {
  margin-left: 50px;
}


// responsive media queries

@media (max-width: 425px) {
  #thumbnail-preview-indicators,
  #thumbnail-preview-indicators .slides,
  #thumbnail-preview-indicators .slides .slide-1,
  #thumbnail-preview-indicators .slides .slide-2,
  #thumbnail-preview-indicators .slides .slide-3 {
    height: 400px;
  }
}

@media screen and (max-width : 480px) {    
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active {
        width: 50px;
        height: 8px;
        position: relative;
    }
    
    #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
         width: 50px;
         left: 50%;
         margin-top: -50px;
         margin-left: -25px;
    }
}
/*
@media (max-width: 1024px) {
  #thumbnail-preview-indicators .slides .slide-1 {
    background-image: url(@slide-1-md);
  }
  #thumbnail-preview-indicators .slides .slide-2 {
    background-image: url(@slide-2-md);
  }
  #thumbnail-preview-indicators .slides .slide-3 {
    background-image: url(@slide-3-md);
  }
}
*/
@media (max-width: 768px) {
  #thumbnail-preview-indicators .slides .slide-1 {
    background-image: url(@slide-1-sm);
  }
  #thumbnail-preview-indicators .slides .slide-2 {
    background-image: url(@slide-2-sm);
  }
  #thumbnail-preview-indicators .slides .slide-3 {
    background-image: url(@slide-3-sm);
  }
}