/* Custom Navigation Bar */
.navbar-default {
  background-color: @blue-primary;
  border-color: transparent;
  .navbar-brand {
    color: @brand-primary;
    .script-font;
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: darken(@brand-primary, 10%);
    }
  }
  .navbar-collapse {
    border-color: fade(@blank, 2%);
  }
  .navbar-toggle {
    background-color: @brand-primary;
    border-color: @brand-primary;
    .icon-bar {
      background-color: @blank;
    }
    &:hover,
    &:focus {
      background-color: @brand-primary;
    }
  }
  .nav {
    li {
      a {
        .heading-font;
        font-weight: 400;
        letter-spacing: 1px;
        color: @blank;
        &:hover,
        &:focus {
          color: @brand-primary;
          outline: none;
        }

        @media (max-width: 992px) {
          font-size: 12px;
          padding: 15px 6px;

        }
      }

    }
  }
  .navbar-nav>.active>a {
    border-radius: 0;
    color: @blue-primary;
    background-color: @brand-primary;
  }
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    color: @blue-primary;
    background-color: darken(@brand-primary, 10%);
  }

  .navbar-nav>li.dropdown {
    /* Custom style for dropdown menu */
    border-left: 2px solid @blank;
    margin-left: 5px;
  }

  ul.dropdown-menu {
    background-color: @blue-primary;
  }

  .navbar-brand {
    padding: 0;
  }

  .logo-mobile {
    display: none;
  }
}

@media(max-width: 359px){
  .navbar-default{
    .logo {
      width: 250px;
    }
  }
}

@media(max-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: @blank;
  }
}

@media(min-width:768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav>.active>a {
      border-radius: 3px;
    }
  }
  .navbar-default.navbar-shrink {
    background-color: @blue-primary;
    padding: 10px 0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: none!important;
}