// Section: osteopathy

/*
  Based on Code snippet by @maridlcrmn
  Title: Responsive thumb preview in carousel indicators
  Url: http://bootsnipp.com/snippets/featured/responsive-thumb-preview-in-carousel-indicators
*/

#osteopathy {
  .bg_blur {
    background-image:url('../img/centromares/fotolia_55328838.jpg');
    height: 300px;
    background-size: cover;
  }

  .header {
    color : #808080;
    margin-left:15%;
    margin-top:70px;
  }

  .picture {
    height:150px;
    width:150px;
    position:absolute;
    top: 75px;
    left:-75px;
  }

  .picture_mob {
    position: absolute;
    width: 35%;
    left: 35%;
    bottom: 70%;
  }

  .img-thumbnail {
    border: 3px solid #FEC503;
  }

  .treatment-dropdown {
    display: none;
  }

  .tab-content {
    padding: 25px;
  }

  .dropdown-menu {
    width: 100%;
  }


  @media (max-width: 360px) {
    .header {
      margin-left: 0;
    }

    .treatment-tabs {
      display: none;
    }

    .treatment-dropdown {
      display: block;
    }
  }

  @media (max-width: 767px) {
    .header{
      text-align : center;
      color:red;
      margin-left: 0;
    }

    .nav{
      margin-top : 30px;
    }
  }

  @media (min-width: 768px) and (max-width: 979px) {
    .picture {
      height: 150px;
      left: 15px;
      position: absolute;
      top: -95px;
      width: 150px;
    }

    .header{
      color:blue;
    }
  }
}