// Section: Services

#services {
    .board {
        width: 86%;
        margin: 60px auto;
        background: #fff;
        border: 2px solid #ddd;
    }

    .board .tab-content {
        padding: 35px 30px 20px;
        height: 400px;
        position: relative;
    }

    .board .tab-content .tab-pane {
        height: 270px;
        overflow: hidden;
    }

    .board .tab-content .services-read-more {
        position: absolute;
        bottom: 30px;
        left: 30px;
    }

    .board .tab-content p {
        margin-top: 20px;
    }

    .board ul {
        background: #fafafa url(../img/centromares/pattern-tab-services.png);
        background-size: 30%;
        padding: 10px;
        border-bottom: 2px solid #ddd;
    }

    .services-ul li div, #carousel-services > div.carousel-inner > div.item > a > div {
        background: url(../img/centromares/icons-dentist.png) no-repeat;
        background-position: 0 0;
        width: 90px;
        height: 90px;
        margin: auto;
        border: 1px solid #daa756;
    }

    .services-ul li div.dentistry, #carousel-services > div.carousel-inner > div.item > a > div.service-dentistry {
        background: url(../img/centromares/icon-tooth-small.jpg) no-repeat;
        background-position: -2px 0;
        width: 90px;
        height: 90px;
        margin: auto;
        border: 1px solid #daa756;
    }

    .service-conservative {
        background-position: -33px -107px !important;
    }

    .service-preventive {
        background-position: -379px -305px !important;
    }

    .service-aesthetics {
        background-position: -33px -206px !important;
    }

    .service-implantology {
        background-position: -264px -107px !important;
    }

    .service-orthodontics {
        background-position: -264px -206px !important;
    }

    .service-periodontics {
        background-position: -379px -107px !important;
    }

    .service-prosthesis {
        background-position: -148px -107px !important;
    }

    /* Service and Loyalty sections */
    /*
    .service-heading {
        margin: 15px 0;
        text-transform: none;
    }
    .service-row {
        margin-bottom: 25px;
    }
    .service-img {
        width: 90px;
        height: 90px;
        margin: auto;
        background: url(../img/centromares/fotolia_63585821-trans.png) no-repeat;
        background-position: 0 0;
    }
    .service-tooth {
        background-position: -32px -8px;
    }
    .service-clean {
        background-position: -147px -8px;
    }
    .service-right {
        background-position: -262px -8px;
    }
    .service-wrong {
        background-position: -377px -8px;
    }
    .service-filling {
        background-position: -32px -107px;
    }
    .service-cover {
        background-position: -147px -107px;
    }
    */

    .nav > li > a {
        padding: 10px 7px;
    }

    .carousel-inner > .item {
        text-align: center;
    }
}




@media(max-width: 1075px){
    #carousel-services {
        display: block!important;
    }
    .services-ul {
        display: none;
    }
}