// Section: team
.team-member{
  @media (max-width: 480px) {
    padding-bottom: 30px;
  }
}
.team-member, div#cv {
  text-align: center;

}

.team-member img, div#cv img {
  margin: 0 auto;
  border: 7px solid @brand-primary;
}

.team-member h4, div#cv h4{
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p, div#cv p {
  margin-top: 0;
}

.team-read-more {
  margin-bottom: 10px;
}

.cv-employee, .cv-education-list, .cv-experience-list {
  list-style-type: none;
  padding: 0;
}