// Variables

@brand-primary: #fed136;
@brand-danger: #e74c3c;
@gray-darkest: #222;
@gray: #777;
@gray-lighter: #f7f7f7;
@blue-primary: #4e81cd;
@placeholder-text: #bbbbbb;
@blank: #fff;
@transparent: Transparent;


// Variables for images

@slider1: "../img/centromares/dente-com-dinheiro-27387864-blur-resize.jpg";
@slider2: "../img/centromares/dentista-blur-resize.jpg";
@slider3: "/img/centromares/dentistashortaleza_es-blur-resize2.jpg";

@slide-1-lg: "../img/slider/slide-1-lg.jpg";
@slide-1-md: "../img/slider/slide-1-md.jpg";
@slide-1-sm: "../img/slider/slide-1-sm.jpg";

@slide-2-lg: "../img/slider/slide-2-lg.jpg";
@slide-2-md: "../img/slider/slide-2-md.jpg";
@slide-2-sm: "../img/slider/slide-2-sm.jpg";

@slide-3-lg: "../img/slider/slide-3-lg.jpg";
@slide-3-md: "../img/slider/slide-3-md.jpg";
@slide-3-sm: "../img/slider/slide-3-sm.jpg";