<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'contact' | trans }}</h2>
                <h3 class="section-subheading text-muted">{{ contact.intro }}</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" id="maplocation" style="height:450px">
            </div>
            <div class="col-md-4">
                <p>
                    <span class="glyphicon glyphicon-time"></span> <strong>{{ 'schedule' | trans | capitalize }}</strong><br />
                    {{ contact.days }}<br />
                    {{ contact.time }}<br />
                    {{ contact.address }}<br />
                    {% for phone in contact.phones %}
                        {{ phone.text }} {{ loop.last ? '<br />' : ' - ' }}
                    {% endfor%}
                </p>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">{{ 'contact_us' | trans | capitalize }}</button>

                <!-- Modal -->
                <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{ 'contact_us' | trans | capitalize }}</h4>
                            </div>
                            <div class="modal-body">
                                <form method="post" name="sentMessage" id="contactForm" novalidate>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="{{ 'form.placeholder.name' | trans }}" id="name" name="name" data-validation-required-message="{{ 'form.required.name' | trans }}">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="{{ 'form.placeholder.email' | trans }}" id="email" name="email" data-validation-required-message="{{ 'form.required.email' | trans }}" data-validation-valid-email="{{ 'form.required.valid_email' | trans }}">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="tel" class="form-control" placeholder="{{ 'form.placeholder.phone' | trans }}" id="phone" name="phone" data-validation-required-message="{{ 'form.required.phone' | trans }}" data-validation-valid-phone="{{ 'form.required.valid_phone' | trans }}">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="{{ 'form.placeholder.message' | trans }}" id="message" name="message" data-validation-required-message="{{ 'form.required.message' | trans }}"></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-12 text-center">
                                            <div id="success"></div>
                                            <button type="submit" class="btn btn-primary">{{ 'form.submit' | trans }}</button>
                                            <input type="hidden" id="language" name="language" value="{{ app.translator.getLocale() }}" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{{ 'close' | trans | capitalize }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>