<!-- Gallery section -->
<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'gallery' | trans }}</h2>
                <h3 class="section-subheading text-muted">{{ gallery.intro }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 gallery-item">
                <a href="{{ asset('img/gallery/big-image-1.png')}}" class="swipebox gallery-link">
                    <img src="{{ asset('img/gallery/small-image-1.png')}}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-xs-4 gallery-item">
                <a href="{{ asset('img/gallery/big-image-2.png')}}" class="swipebox gallery-link">
                    <img src="{{ asset('img/gallery/small-image-2.png')}}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-xs-4 gallery-item">
                <a href="{{ asset('img/gallery/big-image-3.png')}}" class="swipebox gallery-link">
                    <img src="{{ asset('img/gallery/small-image-3.png')}}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-xs-4 gallery-item">
                <a href="{{ asset('img/gallery/big-image-4.png')}}" class="swipebox gallery-link">
                    <img src="{{ asset('img/gallery/small-image-4.png')}}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-xs-4 gallery-item">
                <a href="{{ asset('img/gallery/big-image-5.png')}}" class="swipebox gallery-link">
                    <img src="{{ asset('img/gallery/small-image-5.png')}}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-xs-4 gallery-item">
                <a href="{{ asset('img/gallery/big-image-6.png')}}" class="swipebox gallery-link">
                    <img src="{{ asset('img/gallery/small-image-6.png')}}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-xs-4 gallery-item">
                <a href="https://www.youtube.com/watch?v=0hRxpzYtcWc" class="swipebox-video gallery-link">
                    <img src="https://img.youtube.com/vi/0hRxpzYtcWc/maxresdefault.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>

</section>