<!-- Premium section -->
<section id="loyalty">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'loyalty' | trans }}</h2>
                <h3 class="section-subheading text-muted">{{ loyalty.intro }}</h3>
            </div>
        </div>

        {% if loyalty.content|length > 0 %}
            <div class="row increase-row-height">
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    {% for content in loyalty.content %}
                        <p class="large text-muted">{{ content }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row increase-row-height">
            <div class="col-sm-4">
                <img src="{{ asset('img/centromares/tarjetadm-2.png') }}" class="img-responsive" alt="Imagen responsive">
            </div>
            {% if loyalty.free_services %}
                <div class="col-sm-4">
                    <h3>{{ loyalty.free_services.title }}</h3>
                    <ul>
                        {% for service in loyalty.free_services.services %}
                            <li>{{ service }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if loyalty.discount_services %}
            <div class="col-sm-4">
                <h3>{{ loyalty.discount_services.title }}</h3>
                <ul>
                    {% for service in loyalty.discount_services.services %}
                    <li>{{ service }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="row">
            {% for row in 0..loyalty.annuities|length %}
                {% for item in loyalty.annuities|slice(row*3,3) %}
                <div class="col-md-4 col-xs-6">
                    <div class="panel price {{ item.color}}">

                        <div class="panel-body text-center">
                            {% set members = item.type | split('+') %}
                            <ul class="members">
                                {% if members.0 is defined %}<li>{{ members.0 | trim | capitalize }}</li>{% endif %}
                                {% if members.1 is defined %}<li>{{ members.1 | trim | capitalize }}</li>{% endif %}
                                {% if members.2 is defined %}<li>{{ members.2 | trim | capitalize }}</li>{% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>

    </div>
</section>