<!-- News Section -->
<section id="news" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'news' | trans }}</h2>
                <h3 class="section-subheading text-muted">{{ news.intro }}</h3>
            </div>
        </div>

        <div class="row">
            {% for news_item in news.news %}
                <div class="item col-sm-6">
                    <div class="media">
                        {% if news_item.img is not empty %}
                            <div class="media-left">
                                <a href="#None">
                                    <img src="{{ asset('img/news/' ~ news_item.img) }}" alt="" class="media-object">
                                </a>
                            </div>
                        {% endif %}
                        <div class="media-body">
                            <h4 class="media-heading">{{ news_item.title }}</h4>
                            <p>{{ news_item.text }}</p>
                            {% if news_item.link is not empty %}
                                <a href="{{ news_item.link }}" target="_blank" class="btn btn-blue-primary btn-sm">{{ 'readmore' | trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>