<!-- Osteopathy Section -->
<section id="osteopathy" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'osteopathy' | trans }}</h2>
                <h3 class="section-subheading text-muted">{{ 'ostepathy-section.intro' | trans }}</h3>
            </div>
        </div>
        <div class="row panel">
            <div class="col-md-4 bg_blur "></div>
            <div class="col-md-8  col-xs-12">
               <img src="{{ asset('img/centromares/team/team-women-1.jpg') }}" class="img-thumbnail picture hidden-xs" />
               <img src="{{ asset('img/centromares/team/team-women-2.jpg') }}" class="img-thumbnail visible-xs picture_mob" />
               <div class="header">
                    <h1>Lorem Ipsum</h1>
                    <h4>Web Developer</h4>
                    <span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                    "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</span>
               </div>
            </div>
        </div>
        
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-pills nav-justified treatment-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#kinesiotaping" aria-controls="kinesiotaping" role="tab" data-toggle="tab">Kinesiotaping</a></li>
            <li role="presentation"><a href="#osteopatia" aria-controls="osteopatia" role="tab" data-toggle="tab">Osteopatía</a></li>
            <li role="presentation"><a href="#postural" aria-controls="postural" role="tab" data-toggle="tab">Reeducación postural global RPG</a></li>
            <li role="presentation"><a href="#fisio" aria-controls="fisio" role="tab" data-toggle="tab">Fisioterapia deportiva</a></li>
          </ul>

          <ul class="nav nav-pills nav-justified treatment-dropdown" role="tablist">
            <li role="presentation" class="dropdown">
                <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Tratamientos
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop4">
                  <li><a href="#kinesiotaping" aria-controls="kinesiotaping" role="tab" data-toggle="tab">Kinesiotaping</a></li>
                  <li><a href="#osteopatia" aria-controls="osteopatia" role="tab" data-toggle="tab">Osteopatía</a></li>
                  <li><a href="#postural" aria-controls="postural" role="tab" data-toggle="tab">Reeducación postural global RPG</a></li>
                  <li><a href="#fisio" aria-controls="fisio" role="tab" data-toggle="tab">Fisioterapia deportiva</a></li>
                </ul>
              </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="kinesiotaping">
                <h4 class="text-center text-uppercase">Kinesiotaping</h4>
                <p class="text-justify">El kinesiotaping o vendaje neuromuscular es una técnica de vendaje basada en la activación de los sistemas neurológico y circulatorio con unas vendas elásticas y adhesivas que imitan las propiedades de la piel.</p>
                <p class="text-justify">Los vendajes habituales disminuyen el movimiento de los músculos y articulaciones. El kinesiotaping es un concepto totalmente diferente, basado en la libertad de movimiento de las articulaciones, permitiendo el desarrollo de la actividad normal aumentando, incluso normalizando la funcionalidad de la articulación o músculo lesionado.</p>
                <p class="text-justify">El kinesiotaping actúa como soporte del músculo mejorando la contracción muscular, aliviando el dolor y reduciendo la fatiga muscular.</p>
                <p class="text-justify">Disminuye la inflamación, mejorando la circulación y reduciendo el calor de la zona afecta.</p>
            </div>

            <div role="tabpanel" class="tab-pane" id="osteopatia">
                <h4 class="text-center text-uppercase">Osteopatía</h4>
                <p class="text-justify">La osteopatía es una terapia manual, que aplica una serie de técnicas orientadas a la normalización de las funciones alteradas en el paciente, buscando así la recuperación de las lesiones músculoesqueléticas y las patologías orgánicas.</p>
                <p class="text-justify">La osteopatía hace un abordaje integral del sujeto, viendo al paciente como un todo. Parte de la base de que el cuerpo está totalmente interrelacionado y que una disfunción puede generar un problema a distancia por las relaciones anatómicas y funcionales del organismo. Por tanto, no solo trata el sistema sino que se interesa por el verdadero origen del problema resolviendo la lesión primaria para que el problema no vuelva a aparecer.</p>
                <p class="text-justify">El osteópata, basándose en el historial médico del paciente, valora mediante la palpación y una serie de test específicos las restricciones al movimiento en articulaciones y tejidos.</p>
                <p class="text-justify">Una vez definido el origen del problema, realizará manipulaciones orientadas a devolver la movilidad a las disfunciones, para así recuperar las funciones normales del cuerpo.</p>
            </div>

            <div role="tabpanel" class="tab-pane" id="postural">
                <h4 class="text-center text-uppercase">Reeducación postural global RPG</h4>
                <p class="text-justify">La RPG es un innovador método de fisioterapia que permite al paciente tomar conciencia de su cuerpo y recolocarlo para su óptimo funcionamiento.</p>
                <p class="text-justify">El paso del tiempo y el tipo de vida que en muchas ocasiones llevamos provoca que acumulemos tensiones, perdamos elasticidad y como consecuencia nos vayamos deformando y encogiendo.</p>
                <p class="text-justify">El tratamiendo de Reeducación Postural Global consiste en la realización de una serie de posturas de estiramiento global del cuerpo que van evolucionando desde una posición inicial casi sin tensión hacia una posición final de progresivo estiramiento suave.</p>
            </div>

            <div role="tabpanel" class="tab-pane" id="fisio">
                <h4 class="text-center text-uppercase">Fisioterapia deportiva</h4>
                <p class="text-justify">La fisioterapia deportiva, importante por el creciente auge, popularización y desarrollo del deporte, es la especialidad de la fisioterapia que trata mediante los agentes físicos las patologías que se desarrollan en la práctica deportiva.</p>
                <p class="text-justify">Su función es prevenir, tratar y conseguir una rápida restauración de la función en el deportista lesionado.</p>
            </div>
          </div>
        </div>
    </div>
</section>