<!-- Payment Section -->
<section id="payment" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'payment' | trans }}</h2>
                <h3 class="section-subheading text-muted">{{ payment.intro }}</h3>
            </div>
        </div>
        <div class="row text-center">
            {% for item in payment.payments %}
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa {{ item.image }} fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{{ item.title }}</h4>
                    <p class="text-muted">{{ item.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>