<!-- Services Section -->
<section id="services" class="bg-light-gray">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'services' | trans }}</h2>
                <h3 class="section-subheading text-muted">{{ services.intro }}</h3>
            </div>
        </div>
    </div>

    <div class="services-section container">
        {% if services.services|length > 0 %}
        <div role="tabpanel" class="board">
            <!-- Nav tabs -->
            <ul class="nav nav-pills nav-justified services-ul" role="tablist">
                {% for key, service in services.services %}
                    {% set tab_class = 'service-' ~ key %}
                    <li role="presentation" class="{{ loop.first ? 'active' : '' }}">
                        <a href="#{{ key }}" aria-controls="{{ key }}" role="tab" data-toggle="tab">
                            <div class="img-circle {{ tab_class }} {{ loop.last ? key : '' }}"></div>
                            {{ service.title_slider|upper }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <!-- Carousel tabs (only mobile) -->
            <div id="carousel-services" class="carousel slide" data-interval="" data-ride="carousel" style="display:none;">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for key, service in services.services %}
                        {% set tab_class = 'service-' ~ key %}
                        <div class="item {{ loop.first ? 'active' : '' }}">
                            <a data-toggle="tab" role="tab" href="#{{ key }}">
                                <div class="img-circle {{ tab_class }}"></div>
                                {{ service.title_slider|upper }}
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-services" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-services" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                {% for key, service in services.services %}
                    <div role="tabpanel" class="tab-pane {{ loop.first ? 'active' : '' }}" id="{{ key }}">
                        <h3 class="text-center">{{ service.title|upper }}</h3>
                        {% for content in service.content %}
                            <p>{{ content|raw }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}

                <div class="services-read-more">
                    <a class="btn btn-default more btn-primary" href="#None" role="button" data-more="{{ 'readmore' | trans | capitalize }}" data-less="{{ 'readless' | trans | capitalize }}">{{ 'readmore' | trans | capitalize }}</a>
                </div>
            </div>

        </div>
        {% endif %}
    </div>
</section>