<!-- Team Section -->

<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'team' | trans }}</h2>
                {% set year = (date()|date('Y')) - 1978 %}
                {% set intro = year ~ team.intro %}
                <h3 class="section-subheading text-muted">{{ intro }}</h3>
            </div>
        </div>

        <div class="row increase-row-height">
            {% for employee in team.employees|slice(0,4) %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{{ asset('img/centromares/team/' ~ employee.img) }}" class="img-responsive img-circle" alt="{{ employee.name }}">
                        <div class="team-member-info">
                            <h4>{{ employee.name }}</h4>
                            <p class="text-muted">{{ employee.jobtitle }}</p>
                            {% if employee.cv.education|length != 0 and employee.cv.experience|length != 0 %}
                                <a class="btn btn-primary team-read-more" data-toggle="modal" href="#cv" aria-expanded="false" data-target="#cv" data-url="{{ url('cv', {id:employee.id}) }}">{{ 'readmore' | trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row increase-row-height">
            {% for employee in team.employees|slice(4) %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{{ asset('img/centromares/team/' ~ employee.img) }}" class="img-responsive img-circle" alt="{{ employee.name }}">
                        <div class="team-member-info">
                            <h4>{{ employee.name }}</h4>
                            <p class="text-muted">{{ employee.jobtitle }}</p>
                            {% if employee.cv.education|length != 0 and employee.cv.experience|length != 0 %}
                                <a class="btn btn-primary team-read-more" data-toggle="modal" href="#cv" aria-expanded="false" data-target="#cv" data-url="{{ url('cv', {id:employee.id}) }}">{{ 'readmore' | trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">
                    {{ team.text }}</p>
            </div>
        </div>
    </div>
</section>

<div id="cv" class="modal fade" role="dialog" aria-labelledby="cvLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title cv-name"></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="" class="img-responsive img-circle" alt=""><br />
                            <ul class="cv-employee">
                                <li class="cv-name"></li>
                                <li class="cv-text"></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 cv-education">
                            <h3 class="cv-education-title"></h3>
                            <ul class="cv-education-list"></ul>
                        </div>
                        <div class="col-xs-12">
                            <h3 class="cv-experience-title"></h3>
                            <ul class="cv-experience-list"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ ('close' | trans) | capitalize }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->