<!-- Header -->
{% set sliders = (content|length) -1 %}

<header>
    <div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for i in 0..sliders %}
                <li data-target="#thumbnail-preview-indicators" data-slide-to="{{ i }}" class="{{ (loop.first) ? 'active' : '' }}"></li>
            {% endfor%}
        </ol>

        <div class="carousel-inner">
            {% for slider in content %}
                <div class="item slides {{ (loop.first) ? 'active' : '' }}">
                    <div class="slide-{{ loop.index }}"></div>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>{{ slider.title }}</h1>
                            <p class="subtitle">{{ slider.subtitle }}</p>
                            <span><a class="page-scroll btn btn-lg btn-blue-primary" href="#payment" role="button">{{ slider.button }}</a></span>
                            <span><button type="button" class="btn btn-lg btn-blue-primary" data-toggle="modal" data-target="#contactModal">{{ 'contact_us' | trans }}</button></span>
                            <span><a class="btn btn-lg btn-blue-primary-empty" href="tel:937753060" role="button">TEL. 93.775.30.60</a></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        
        <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</header>