<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--meta from original web-->
        <meta name="robots" content="INDEX,archive,follow">
        <meta name="title" content="Dentista, Centro Médico Mares, Servicios Odontológicos">
        <meta name="description" content="Clínica Dental. Centro Médico Mares especializada en servicios odontológicos,traumatología,fisioterapia,podología,medicina estética, ortodoncia,odontología,dientes, limpieza, caries, odontopediatría, prótesis, implantología, prótesis dental, perdiodontales, blanqueamiento">
        <meta name="keywords" content="dentista, martorell, CENTRO MÉDICO MARES, odontología, odontólogos, dientes, Clínica Dental">
        <meta name="google-site-verification" content="ofs91_BvbPziMvYoQCiH_mLlT8wkmuuy2dem7LpHVG8">
        <meta name="author" content="Mario Asensio">


        <title>Dental Marcos</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('css/centromares.css') }}" rel="stylesheet">
        <!-- <link href="{{ asset('css/styles.css') }}" rel="stylesheet"> -->
        <link href="{{ asset('css/swipebox.css') }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'> 

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block style %}{% endblock %}
    </head>

    <body id="page-top" class="index">

        {% block navigation %}{% endblock %}

        {% block header %}{% endblock %}

        {% block sections %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block modals %}{% endblock %}

        <!-- jQuery -->
        <script src="{{ asset('js/jquery.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="{{ asset('js/classie.js') }}"></script>
        <script src="{{ asset('js/cbpAnimatedHeader.js') }}"></script>
        <script src="{{ asset('js/jquery.swipebox.js') }}"></script>

        <!-- Contact Form JavaScript -->
        <script src="{{ asset('js/jquery.validate.js') }}"></script>

        <!-- Custom JavaScript -->
        <script src="{{ asset('js/centromares.js') }}"></script>

        <!-- API google Maps -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDkS1wcXu49evgk_WS_E_zjy6FsH0ltxYY"></script>
        
        {% block javascript %}{% endblock %}
        <script>
            /* google maps*/
            var coords = new google.maps.LatLng(41.4764238, 1.9226691);
            function initialize() {
                var mapOptions = {
                    center: coords,
                    zoom: 17,
                    // draggable: false,
                    scrollwheel: false
                };

                var map = new google.maps.Map(document.getElementById('maplocation'),mapOptions);

                var marker = new google.maps.Marker({
                    position: coords,
                    map: map,
                    title: 'Dental Marcos'
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        
    </body>

</html>