<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <!--<form action="{{ path('admin_login_check') }}" method="post">
        {{ error }}
        <input type="text" name="_username" value="{{ last_username }}" />
        <input type="password" name="_password" value="" />
        <input type="submit" />
    </form>-->

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {{ error }}
                <form action="{{ path('admin_login_check') }}" method="post">
                    <div class="form-group text-center">
                        <h2>DentalMarcos Login</h2>
                    </div>
                    <div class="form-group">
                        <label for="_username">Username</label>
                        <input type="text" class="form-control" name="_username" id="_username" placeholder="Username" value="{{ last_username }}">
                    </div>
                    <div class="form-group">
                        <label for="_password">Password</label>
                        <input type="password" class="form-control" name="_password" id="_password" placeholder="Password">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div> <!-- /container -->

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>


