<!-- modals -->

<div id="cv" class="modal fade" role="dialog" aria-labelledby="cvLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title cv-name"></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="" class="img-responsive img-circle" alt=""><br />
                            <ul class="cv-employee">
                                <li class="cv-name"></li>
                                <li class="cv-text"></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 cv-education">
                            <h3 class="cv-education-title"></h3>
                            <ul class="cv-education-list"></ul>
                        </div>
                        <div class="col-xs-12">
                            <h3 class="cv-experience-title"></h3>
                            <ul class="cv-experience-list"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ ('close' | trans) | capitalize }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Escríbenos</h4>
            </div>
            <div class="modal-body">
                <form method="post" name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{ 'contact-section.form.placeholder.name' | trans }}" id="name" name="name" data-validation-required-message="{{ 'contact-section.form.required.name' | trans }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="{{ 'contact-section.form.placeholder.email' | trans }}" id="email" name="email" data-validation-required-message="{{ 'contact-section.form.required.email' | trans }}" data-validation-valid-email="{{ 'contact-section.form.required.valid_email' | trans }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="{{ 'contact-section.form.placeholder.phone' | trans }}" id="phone" name="phone" data-validation-required-message="{{ 'contact-section.form.required.phone' | trans }}" data-validation-valid-phone="{{ 'contact-section.form.required.valid_phone' | trans }}">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="{{ 'contact-section.form.placeholder.message' | trans }}" id="message" name="message" data-validation-required-message="{{ 'contact-section.form.required.message' | trans }}"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-primary">{{ 'contact-section.form.submit' | trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
-->
