    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dentalmarcos-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="{{ asset('img/logo-mobile.png') }}" class="img-responsive visible-xs" alt="Dental Marcos"/>
                    <img src="{{ asset('img/logo-header-mobile.png') }}" class="img-responsive hidden-xs" alt="Dental Marcos"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="dentalmarcos-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team" data-section="team">{{ 'team' | trans}}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services" data-section="services">{{ 'services' | trans }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#loyalty" data-section="loyalty">{{ 'loyalty' | trans }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#gallery" data-section="gallery">{{ 'gallery' | trans }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#news" data-section="news">{{ 'news' | trans }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact" data-section="contact">{{ 'contact' | trans }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {{ app.translator.getLocale() }}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="lang-menu" href="/es" data-lang="es">castellano</a></li>
                            <li><a class="lang-menu" href="/ca" data-lang="ca">català</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->

        <input type="hidden" name="anchor" id="anchor" value="" />
    </nav>